@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    background-color: white;
    width: 100%;
}
.hoofdblok{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    padding: 4%;
    margin: auto;
}
.geslacht, .leeftijd, .afkomst {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    -moz-box-shadow: 0 0 20px #777777;
    -webkit-box-shadow: 0 0 20px #777777;
    box-shadow: 0 0 20px #777777;
}
.canvas{
    width: 350px;
    height: 350px;
}
h1{
    text-align: center;
    color: #6F6F6F;
    font-family: Roboto;
}
h2{
    text-align: center;
    color: #6F6F6F;
    font-family: Roboto;
}
@media only screen and (max-width: 600px){
     .hoofdblok{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .geslacht, .leeftijd, .afkomst{
        width: 85%;
    }   
}

/*Je gaat hier van telefoon over op tablet */
@media only screen and (min-width: 600px) and (max-width: 900px){
    .hoofdblok{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .geslacht, .leeftijd, .afkomst{
        width: 85%;
    }
}

/*Je gaat hier van tablet over op kleine desktop */
@media only screen and (min-width: 900px) and (max-width: 1100px){
    .geslacht{
        width: 42.5%;
    }
    .leeftijd{
        width: 42.5%;
    }
    .afkomst{
        width: 93%;
    }
    .hoofdblok{
        flex-wrap: wrap;
        flex-direction: row;
    }
}

/*Je gaat hier van kleine desktop over op een grote desktop */
@media only screen and (min-width: 1100px){
    .geslacht{
        width: 42.5%;
    }
    .leeftijd{
        width: 42.5%;
    }
    .afkomst{
        width: 93%;
    }
    .hoofdblok{
        flex-direction: row;
        flex-wrap: wrap;
    }
}