.blokitem{
	background-color: white;
}
/*Telefoonscherm */
@media only screen and (max-width: 600px){
	body{
		background-color: tan;
	}

	.hoofdblok{
		width:100%;
		background-color: tan;
	}
	.hoofdblok:after{
		content: "";
		display: table;
		clear: both;
	}
	.blokitem{
		width: 100%; 
	}
}

/*Je gaat hier van telefoon over op tablet */
@media only screen and (min-width: 600px) and (max-width: 900px){
	body{
		background-color: purple;
	}
	.blokitem{
		width: 50%;
	}
}

/*Je gaat hier van tablet over op een klein laptop scherm */
@media only screen and (min-width: 900px) and (max-width: 1100px){
	body{
		background-color: blue;
	}
	.blokitem{
		width: 33,3%;
	}
}

/*Je gaat hier van een klein laptop scherm over op een grote desktop versie*/
@media only screen and (min-width: 1100px){
	body{
		background-color: pink;
	}
	.blokitem{
		width: 33,3%;
	}
}